.initially-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #08c;
}

.clickable {
  text-decoration: underline;
}

.header-left {
  text-align: left;
}

.header-right {
  text-align: right;
}
.header-center {
  text-align: center;
}
